<fieldset ng-disabled="! editing">
  <samp>
    <strong> function judgement(players, header, property)</strong>
  </samp>

  <div style="height: 500px;" ng-model="rule.judgement" ui-ace="{
  onLoad: aceLoaded,
  useWrapMode : true,
  theme:'monokai',
  mode: 'javascript',
  advanced: {
  fontSize: 14,
  enableSnippets: true,
  enableBasicAutocompletion: true,
  enableLiveAutocompletion: true
  }
  }"></div>

  <div ui-clipboard words="{
  'win':'win(player, players, header, property);',
  'lose':'lose(player, players, header, property);'
  }"></div>
</fieldset>