<fieldset ng-disabled="! editing">
  <table class="table">
    <tbody ui-sortable="{'axis':'y'}" ng-model="rule.lines">
      <tr>
        <th class="col-sm-2">key<span uib-dropdown> <a href id="rule-lines-add" uib-dropdown-toggle><span class="caret"></span></a>
          <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="rule-lines-add">
            <li>
              <a href="#" ng-click="rule.addLine()">Add</a>
            </li>
          </ul> </span></th>
        <th class="col-sm-1">invisible</th>
        <th class="col-sm-1"></th>
        <th class="col-sm-2">x</th>
        <th class="col-sm-1"></th>
        <th class="col-sm-2">y</th>
        <th class="col-sm-2">zoom</th>
        <th class="col-sm-1"></th>
      </tr>
      <tr ng-repeat="line in rule.lines" class="form-group">
        <td><label class="control-label">{{line.key}}</label></td>

        <td>
        <input class="form-control input-sm" ng-model="line.invisible" type="checkbox" />
        </td>

        <td>
        <input class="form-control input-sm" ng-model="line.xType" type="checkbox" />
        </td>
        <td>
        <span ng-if="line.xType">
          <input class="form-control input-sm" ng-model="line.left"  type="number" />
          -
          <input class="form-control input-sm" ng-model="line.right" type="number" />
        </span><span ng-if="! line.xType">
          <input class="form-control input-sm" ng-model="line.x" type="number" />
        </span></td>

        <td>
        <input class="form-control input-sm" ng-model="line.yType" type="checkbox" />
        </td>
        <td>
        <span ng-if="line.yType">
          <input class="form-control input-sm" ng-model="line.top"  type="number" />
          -
          <input class="form-control input-sm" ng-model="line.bottom" type="number" />
        </span><span ng-if="! line.yType">
          <input class="form-control input-sm" ng-model="line.y" type="number" />
        </span></td>
        
        <td>
        <input class="form-control input-sm" ng-model="line.zoom" type="number" />
        </td>
        
        <td><span uib-dropdown> <a href id="rule-item-menu" uib-dropdown-toggle><span class="caret"></span></a>
          <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="rule-item-menu">
            <li>
              <a href="#" ng-click="rule.deleteLine($index)">Delete</a>
            </li>
          </ul> </span></td>
      </tr>
    </tbody>
  </table>
</fieldset>