<div class="row">
  <div class="col-sm-3">
    <div class="panel panel-info">
      <div class="panel-heading">
        Actions
        <span uib-dropdown> <a href id="rule-action-add" uib-dropdown-toggle><span class="caret"></span></a>
          <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="rule-action-add">
            <li>
              <a href="#" ng-click="rule.addAction(rule.actions)">Add</a>
            </li>
          </ul> </span>
      </div>
      <table class="table table-condensed table-hover">
        <tbody ui-sortable="{'axis':'y'}"　ng-model="rule.actions">
          <tr ng-repeat="action in rule.actions"  ng-click="rule.currentAction=rule.actions[$index]; rule.currentActionClass=1;">
            <td>{{action.name}}</td>
            <td><span uib-dropdown> <a href id="action-menu" uib-dropdown-toggle><span class="caret"></span></a>
              <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="action-menu">
                <li>
                  <a href="#" ng-click="rule.deleteAction(rule.actions, $index)">Delete</a>
                </li>
              </ul> </span></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="panel panel-info">
      <div class="panel-heading">
        GlobalActions
        <span uib-dropdown> <a href id="rule-global-action-add" uib-dropdown-toggle><span class="caret"></span></a>
          <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="rule-global-action-add">
            <li>
              <a href="#" ng-click="rule.addAction(rule.global_actions)">Add</a>
            </li>
          </ul> </span>
      </div>
      <table class="table table-condensed table-hover">
        <tbody ui-sortable="{'axis':'y'}"　ng-model="rule.global_actions">
          <tr ng-repeat="action in rule.global_actions"  ng-click="rule.currentAction=rule.global_actions[$index]; rule.currentActionClass=2;">
            <td>{{action.name}}</td>
            <td><span uib-dropdown> <a href id="action-menu" uib-dropdown-toggle><span class="caret"></span></a>
              <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="action-menu">
                <li>
                  <a href="#" ng-click="rule.deleteAction(rule.global_actions, $index)">Delete</a>
                </li>
              </ul> </span></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="panel panel-info">
      <div class="panel-heading">
        GlobalActionsRepeat
        <span uib-dropdown> <a href id="rule-global-action-repeat-add" uib-dropdown-toggle><span class="caret"></span></a>
          <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="rule-global-action-repeat-add">
            <li>
              <a href="#" ng-click="rule.addAction(rule.global_actions_repeat)">Add</a>
            </li>
          </ul> </span>
      </div>
      <table class="table table-condensed table-hover">
        <tbody ui-sortable="{'axis':'y'}"　ng-model="rule.global_actions_repeat">
          <tr ng-repeat="action in rule.global_actions_repeat"  ng-click="rule.currentAction=rule.global_actions_repeat[$index]; rule.currentActionClass=3;">
            <td>{{action.name}}</td>
            <td><span uib-dropdown> <a href id="action-menu" uib-dropdown-toggle><span class="caret"></span></a>
              <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="action-menu">
                <li>
                  <a href="#" ng-click="rule.deleteAction(rule.global_actions_repeat, $index)">Delete</a>
                </li>
              </ul> </span></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="col-sm-9">
    <table class="table table-condensed">
      <tr ng-if="rule.currentActionClass">
        <th>name</th>
        <td>
        <input class="form-control input-sm" type="text" ng-model="rule.currentAction.name">
        </input></td>
      </tr>
      <tr ng-if="rule.currentActionClass==1">
        <th>css</th>
        <td>
        <input class="form-control input-sm" type="text" ng-model="rule.currentAction.css">
        </input></td>
      </tr>
      <tr ng-if="rule.currentActionClass">
        <th>button_css</th>
        <td>
        <input class="form-control input-sm" type="text" ng-model="rule.currentAction.button_css">
        </input></td>
      </tr>
      <tr ng-if="rule.currentActionClass==2 || rule.currentActionClass==3">
        <th>group</th>
        <td>
        <input class="form-control input-sm" type="text" ng-model="rule.currentAction.group">
        </input></td>
      </tr>
      <tr ng-if="rule.currentActionClass==2">
        <th>keyboard</th>
        <td>
        <input class="form-control input-sm" type="text" ng-model="rule.currentAction.keyboard">
        </input></td>
      </tr>
      <tr ng-if="rule.currentActionClass==1">
        <th>keyArray</th>
        <td>
        <input class="form-control input-sm" type="text" ng-model="rule.currentAction.keyArray">
        </input></td>
      </tr>
      <tr ng-if="rule.currentActionClass">
        <th>tweet</th>
        <td>
        <input class="form-control input-sm" type="text" ng-model="rule.currentAction.tweet">
        </input></td>
      </tr>
    </table>
    <div ng-show="rule.currentActionClass==1 || rule.currentActionClass==2">
      <samp ng-show="rule.currentActionClass==1"><strong> function enable0(player, players, header, property)</strong></samp>
      <samp ng-show="rule.currentActionClass==2"><strong> function enable0(players, header, property)</strong></samp>
      <div style="height: 36px;" ng-model="rule.currentAction.enable0" ui-ace="{
      onLoad: aceLoaded,
      useWrapMode : true,
      theme:'monokai',
      mode: 'javascript',
      advanced: {
      fontSize: 14,
      enableSnippets: true,
      enableBasicAutocompletion: true,
      enableLiveAutocompletion: true
      }
      }" ></div>
    </div>

    <div ng-show="rule.currentActionClass==1 || rule.currentActionClass==2">
      <samp ng-show="rule.currentActionClass==1"><strong> function action0(player, players, header, property)</strong></samp>
      <samp ng-show="rule.currentActionClass==2"><strong> function action0(players, header, property)</strong></samp>
      <div style="height: 270px;" ng-model="rule.currentAction.action0" ui-ace="{
      onLoad: aceLoaded,
      useWrapMode : true,
      theme:'monokai',
      mode: 'javascript',
      advanced: {
      fontSize: 14,
      enableSnippets: true,
      enableBasicAutocompletion: true,
      enableLiveAutocompletion: true
      }
      }" ></div>
      <div ui-clipboard words="{
      'addQCount':'addQCount(players, header, property);',
      'setMotion':'setMotion(player, \'o\');'
      }"></div>
    </div>

    <div ng-show="rule.currentActionClass==3">
      <samp><strong> function indexes0(players, header, property)</strong></samp>
      <div style="height: 36px;" ng-model="rule.currentAction.indexes0" ui-ace="{
      onLoad: aceLoaded,
      useWrapMode : true,
      theme:'monokai',
      mode: 'javascript',
      advanced: {
      fontSize: 14,
      enableSnippets: true,
      enableBasicAutocompletion: true,
      enableLiveAutocompletion: true
      }
      }" ></div>
    </div>

    <div ng-show="rule.currentActionClass==3">
      <samp><strong> function enable1(index, players, header, property)</strong></samp>
      <div style="height: 36px;" ng-model="rule.currentAction.enable1" ui-ace="{
      onLoad: aceLoaded,
      useWrapMode : true,
      theme:'monokai',
      mode: 'javascript',
      advanced: {
      fontSize: 14,
      enableSnippets: true,
      enableBasicAutocompletion: true,
      enableLiveAutocompletion: true
      }
      }" ></div>
    </div>

    <div ng-show="rule.currentActionClass==3">
      <samp><strong> function action1(index, players, header, property)</strong></samp>
      <div style="height: 270px;" ng-model="rule.currentAction.action1" ui-ace="{
      onLoad: aceLoaded,
      useWrapMode : true,
      theme:'monokai',
      mode: 'javascript',
      advanced: {
      fontSize: 14,
      enableSnippets: true,
      enableBasicAutocompletion: true,
      enableLiveAutocompletion: true
      }
      }" ></div>
      <div ui-clipboard words="{
      'lot':'header.nowLot = index;'
      }"></div>
    </div>

  </div>
</div>
