<fieldset ng-disabled="! editing">
  <div class="row">
    <div class="col-sm-5">
      <table class="table table-condensed table-hover">
        <thead>
          <tr>
            <th class="col-sm-2">name <span uib-dropdown> <a href id="css-lines-add" uib-dropdown-toggle><span class="caret"></span></a>
              <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="css-lines-add">
                <li>
                  <a href="#" ng-click="css.addElement('lines')">Add</a>
                </li>
              </ul> </span></th>
            <th class="col-sm-2">l/t/w/h</th>
            <th class="col-sm-1"></th>
          </tr>
        </thead>
        <tbody ui-sortable="{'axis':'y'}"　ng-model="css.lines">
          <tr ng-repeat="line in css.lines"  ng-click="css.currentLine=css.lines[$index];" ng-class="{'danger':(css.currentLine==line)}">
            <td>
            <input class="form-control input-sm" type="text" ng-model="line.name">
            </td>
            <td><span ng-if="line.invisible">invisible</span><span ng-if="! line.invisible">{{line.left}}/{{line.top}}/{{line.width}}/{{line.height}}</span></td>
            <td><span uib-dropdown> <a href id="line-menu" uib-dropdown-toggle><span class="caret"></span></a>
              <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="line-menu">
                <li>
                  <a href="#" ng-click="css.deleteElement('lines', $index)">Delete</a>
                </li>
              </ul> </span></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-sm-7">
      <table class="table table-bordered table-condensed">
        <tr>
          <th>invisible</th>
          <td>
          <input class="form-control input-sm" type="checkbox" ng-model="css.currentLine.invisible">
          </td>
        </tr>
        <tr>
          <th>left</th>
          <td>
          <input class="form-control input-sm" type="number" ng-model="css.currentLine.left">
          </td>
        </tr>
        <tr>
          <th>top</th>
          <td>
          <input class="form-control input-sm" type="number" ng-model="css.currentLine.top">
          </td>
        </tr>
        <tr>
          <th>width</th>
          <td>
          <input class="form-control input-sm" type="number" ng-model="css.currentLine.width">
          </td>
        </tr>
        <tr>
          <th>height</th>
          <td>
          <input class="form-control input-sm" type="number" ng-model="css.currentLine.height">
          </td>
        </tr>
      </table>
      <div style="height: 180px;" ng-model="css.currentLine.rest" ui-ace="{
      onLoad: aceLoadedCSS,
      useWrapMode : true,
      theme:'monokai',
      mode: 'scss',
      advanced: {
      fontSize: 14,
      enableSnippets: true,
      enableBasicAutocompletion: true,
      enableLiveAutocompletion: true
      }
      }" ></div>
    </div>
  </div>
</fieldset>