<!doctype html>
<html ng-app="myxQuizMain">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<link rel="stylesheet" href="../../css/bootstrap.min.css" >
		<link rel="stylesheet" href="../../css/style.css" >
		<link rel="stylesheet" href="../../css/${css}" >

		<script src="../../js/libs/angular.js"></script>
		<script src="../../js/libs/ngStorage.min.js"></script>
		<script src="../../js/libs/angular-animate.min.js"></script>
		<script src="../../js/libs/angular-resource.min.js"></script>
		<script src="../../js/libs/ui-bootstrap-tpls.js"></script>
		
		<script src="../../js/controller/main.js"></script>
		<script src="../../js/factory/qcommon.js"></script>
		<script src="../../js/factory/round.js"></script>
		<script src="../../js/rule/${rule}"></script>
	</head>

	<body ng-controller="main" ng-keydown="keyDown($event)">
		<div scoreboard>
			<div class="title">
				${title}
			</div>
			<div class="qCount">
    			${status}
  			</div>
  			${victory}
		</div>
	</body>
</html>